<h2>Date</h2>
<form action="<%= preservation.events_url %>">
  <label>From</label>
  <input name="after" />
  <label>To</label>
  <input name="before" />
  <button type="submit">Submit</button>
</form>