<h2>PREMIS Agent</h2>
<form id="premis_agent_filter" action="<%= preservation.events_url %>">
  <label for="agent">Agent</label>
  <input id="agent" name="agent" value="<%= params['agent'] %>" />
  <!-- TODO: This logic needs to be replicated for all filter forms. Better in a helper method? -->
  <% Rack::Utils.parse_query(request.query_string).except("agent").each do |param, val| %>
    <% # Sometimes `val` may be an array, but not always. So we just array-ify
       # it here to cover both cases. %>
    <% Array(val).each do |single_val| %>
      <input type="hidden" name="<%= param %>" value="<%= single_val %>" />
    <% end %>
  <% end %>

  <button type="submit">Submit</button>
</form>
