<% provide :page_title, "#{application_name} Search Results" %>
<% provide :page_class, 'search' %>

<div id="sidebar" class="<%= sidebar_classes %>">
  <%= render 'search_sidebar' %>
</div>

<div id="content">
  <%= render 'search_results' %>
</div>
