<!DOCTYPE html>
<html>
<head>
  <title>Preservation</title>
  <%= stylesheet_link_tag    "preservation/application", media: "all" %>
  <%= javascript_include_tag "preservation/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
